.all{
    border: 5px solid blue;
    border-radius: 10px;
    /* border-width: 100px; */
    height: 600px;
    align-content: first baseline;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    color: blue;
    padding-top: 20PX;
    padding-left: 10PX;
    
   
}
.wc{
    font-size: 30px;
    font-family: fantasy;
    padding-left: 100px;
}
.enp{
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    padding: 10px;
}
:placeholder-shown{
    width: 250px;
    height: 30px;
    border: 2px solid blue;
    border-radius: 5px;
    padding-left: 10px;
}
.cot{

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid blue;
    border-radius: 10px;
    background-color: blue;
    width: 400px;
    text-align: center;
    height: 40px; 
    color: white; 
    cursor: pointer;
    padding-top: 10PX;
    margin-left: 30px;
}
.WELCOME{
    color: rgb(0, 13, 255);
    font-weight: 500;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-left: 500px;
    align-items: center;
}


    



    
